@media (prefers-color-scheme:dark) {
    :root:not([data-theme=light]) {
    --secondary-border-color: #2b2b2b;
    --article-shadow-normal: 0 10px 10px rgba(255,255,255,0.08);
    --article-shadow-hover: 0 4px 60px 0 rgba(255,255,255,0.1);
    }
}

.m-article-card__info{
    background-color: var(--secondary-subtle-color);
}

.l-post-content hr:after {
    background-color: #9b9b9b;
}

.l-post-content hr {
    border-top: 1px solid #9b9b9b;
}

.m-hero {
    padding: 0.5rem 5vw;
    align-items: flex-end;
    justify-content: flex-end;
}

.m-hero-title { 
    display: none;
}

#ghost-portal-root {
    display: none;
}
.l-post-content blockquote.note {
    border-left: 2px solid black;
    padding-left: 20px;
}
.l-post-content blockquote.note:before {
    display: none;
}

.m-footer__content {
    padding: 30px 0px;
}